*
{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px
}


.navbar__s1
{
    align-items: center;
    height: 50px;
}
.navbar__s1__tittle
{
    color:rgb(164, 54, 240);
}

.navbar__s2
{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap:10px;
    align-items: center;
}

.navbar__s2 input
{
    border: none;
    width: 100%;
    font-size: 16px;
}


.navbar__s2 input:focus
{
    outline: none;
}

.navbar__s3
{
    display:flex;
    gap:10px;
    align-items: center;
}

.navbar__s3 p
{
      font-display: 20px;
}

.categories
{
    border-bottom: solid black 1px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color:rgb(164, 54, 240) ;
}

.categories p{
    color: aliceblue;
    padding: 5px;
    font-size: 20px;
}

.image 
{
    display: flex;
 justify-content: center;
   flex-wrap: wrap;
 align-items: center;
}

.recomanded
{
    padding: 10px;
}

.recomanded__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card
{
width: 300px;
height: 200px;
margin: 20px;
flex-grow: 1;
}

.course-card img{
    width: 100%;
    height: 70%;
}

.topics
{
    padding: 10px;
}

.topics__container
{
    display: flex;
    flex-wrap: wrap;
}

.topics__container p
{
    border: solid black 1px;
    text-align: center;
    padding:10px;
    margin:2px;
    flex-basis: 25%;
    flex-grow: 1;
}


.popular-section__container
{
    display: flex;
    flex-wrap: wrap;
}

.footer
{
    margin-top: 10px;
    padding: 30px;
    background-color: black;
    color: white;
}
.footer1
{
    display:flex;
    gap: 10px;
}
.footer1 p
{
    margin: 10px;
}


.footer2
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}